<p>Advocates are people who will advocate for you within the company.</p>

<p>Yes/No indicates whether your initial search showed alumni/probable advocates.</p>

<p>The number in parenthesis represents specific potential advocates you have identified.</p>