<p>"Motivation" quantifies your interest in a particular company. Rate according to the following 0-5 scale</p>

<ul>
  <li>5 - Extremely Interested</li>
  <li>4 - Very Interested</li>
  <li>3 - Interested</li>
  <li>2 - Mildly Interested</li>
  <li>1 - Unfamiliar With Company</li>
  <li>0 - Not Interested</li>
</ul>
