
<p>Determine "Positng" rating by doing a quick search on job posting websites for relevant job postings.</p>

<p>While choosing initial rating, do not read full job posting details.</p>

<p>Rating Scale:</p>
<p>5 - Posting(s) with "MBA", "Intern", and specialization.</p>
<p>4 - Posting(s) with "MBA" or "Intern" and specialization.</p>
<p>3 - Posting(s) with "MBA" or specialization.</p>
<p>2 - Posting(s) of any type.</p>
<p>1 - No postings.</p>
